In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [5]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()
time.sleep(4)
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
time.sleep(4)
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
time.sleep(4)         
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]
time.sleep(4) 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
time.sleep(4)
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df

,experience_required,company_name,job_location,job_title
0,1-5 Yrs,AN INFRACON PRIVATE LIMITED,"Chennai, Coimbatore, Bangalore/Bengaluru","Business Analyst / Data Analyst - SQL Queries,..."
1,2-5 Yrs,Flipkart Internet Private Limited,Bangalore/Bengaluru,Senior Data Analyst
2,1-5 Yrs,(3334 Reviews),Bangalore/Bengaluru(Marathahalli),Immediate job openings For Partner Consultant ...
3,3-6 Yrs,RANDSTAD INDIA PVT LTD,Bangalore/Bengaluru,Data Analyst
4,7-10 Yrs,(1127 Reviews),Bangalore/Bengaluru,Data Analyst
5,3-5 Yrs,Philips India Limited,Bangalore/Bengaluru,Senior Data Analyst
6,3-6 Yrs,(539 Reviews),Bangalore/Bengaluru,Senior Data Analyst
7,4-9 Yrs,Applied Materials,Bangalore/Bengaluru,Hiring- SR Data Analyst /Bangalore Start Up Co...
8,5-8 Yrs,(96 Reviews),Bangalore/Bengaluru(2nd Phase JP Nagar),Senior Data Analyst
9,2-3 Yrs,Microland Limited,Bangalore/Bengaluru,"Data Analyst, Component Engineering"

# Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [6]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()
time.sleep(4)
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
time.sleep(4)
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)      
time.sleep(4)         
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:    
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        full_job_description.append(description[0])
    except NoSuchElementException :
        full_job_description.append("---")
df=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_description":full_job_description[0:10]})
df

,job_title,company_name,job_location,job_description
0,Senior Data Scientist I,Philips India Limited,Bangalore/Bengaluru,Job Responsibilities\nUse predictive modeling ...
1,IDM - Lead Data Scientist,(539 Reviews),Bangalore/Bengaluru,Your responsibilities\nEnsure strategic direct...
2,Principal Data Scientist,Philips India Limited,Bangalore/Bengaluru,"In this role, you have the opportunity to\nPro..."
3,Data Scientist - Business Analytics,(539 Reviews),Bangalore/Bengaluru,Support business in their decision making need...
4,Data Scientist,Philips India Limited,Bangalore/Bengaluru,"In this role, you have the opportunity to\nPro..."
5,Data Scientist,(539 Reviews),"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Brief JD\nExperience: 5 - 10 Yrs\n\n\nSkills a...
6,Data Scientist,Philips India Limited,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Brief JD\nExperience: 5 - 10 Yrs\n\n\nSkills a...
7,Data Scientist,(539 Reviews),Bangalore/Bengaluru,---
8,Immediately hiring For Data Scientist - (Banga...,Philips India Limited,Bangalore/Bengaluru,Preferred Qualifications\n5-8 years experience...
9,Immediately hiring For Data Scientist - (Banga...,(539 Reviews),Bangalore/Bengaluru,Preferred Qualifications\n5-8 years experience...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:
first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill,Designations,Companies” field .
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [7]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_designation.send_keys("Data Scientist")
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
time.sleep(3)
loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p")
loc.click()
time.sleep(2)
slry_box = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p")
slry_box.click()
time.sleep(3)
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)     
time.sleep(3)
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text) 
time.sleep(3) 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)      
time.sleep(3)
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)           
time.sleep(3)            
df=pd.DataFrame({"job_title":job_title[0:10],"experience_required":experience_required[0:10],"company_name":company_name[0:10],
                 "job_location":job_location[0:10]})
df

,job_title,experience_required,company_name,job_location
0,Data Scientist / Data Analyst -Business Analyst,0-3 Yrs,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Only Fresher / Data Scientist / Data Analyst /...,0-0 Yrs,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR"
2,Data analytics / Data scientist intern (work f...,0-5 Yrs,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
3,Data Scientist - Text NLP | Noida,3-5 Yrs,(2 Reviews),Noida
4,Data Scientist - Machine Learning/NLP,2-6 Yrs,Acidaes Solutions Pvt. Ltd.,Gurgaon/Gurugram
5,Data Scientist,3-7 Yrs,(66 Reviews),"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
6,Data Scientist,3-8 Yrs,TalPro,Noida
7,Data Scientist - Machine Learning/NLP,2-4 Yrs,Fractal Analytics,Gurgaon/Gurugram
8,Data Scientist,3-7 Yrs,(96 Reviews),"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Data Scientist,1-3 Yrs,NEC CORPORATION INDIA PRIVATE LIMITED,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu..."

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
first get the webpage https://www.glassdoor.co.in/index.htm
Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
Then click the search button. You will land up in the below page:
Then scrape the data for the first 10 jobs results you get in the above shown page. WEB SCRAPING ASSIGNMENT-2 .
Finally create a dataframe of the scraped data.

In [10]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)
url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)
search_field_designation=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[1]//div[1]//input")  #job search bar
search_field_designation.send_keys("Data Scientist")
time.sleep(2)
search_field_location=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input")  #location search bar
search_field_location.clear()
search_field_location.send_keys("Noida")
time.sleep(2)
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()
company_ratings=[]
company_name=[]
days_ago=[]
time.sleep(3)
companies=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)    
time.sleep(3)        
ratings=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in ratings:
    if i.text is None :
        company_ratings.append("--") 
    else:
        company_ratings.append(i.text)
time.sleep(3)
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in days:
    if i.text is None :
        days_ago.append("--") 
    else:
        days_ago.append(i.text)         
time.sleep(3)        
df=pd.DataFrame({"company_name":company_name[0:10],"company_ratings":company_ratings[0:10],"days_ago":days_ago[0:10]})
df

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='d-flex flex-row align-items-center']//div[1]//div[1]//input"}
  (Session info: chrome=91.0.4472.114)

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. The above task will be, done as shown in the below steps:
first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
Enter “Data Scientist” in Job title field and “Noida” in location field.
Click the search button.
After that you will land on the below page You have to scrape whole data from this webpage
Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company. 6.Store the data in a dataframe

In [12]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)
url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)
search_field_designation=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[1]//div[1]//input")
search_field_designation.send_keys("Data Scientist")
time.sleep(2)
from selenium.webdriver.common.keys import Keys
for i in range(9):
    driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input").send_keys(Keys.BACK_SPACE)
search_field_location=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input")  
search_field_location.send_keys("Noida")
time.sleep(2)
option = driver.find_element_by_xpath("//div[@class='selectedLabel']")
option.click()
time.sleep(2)
salary_option = driver.find_element_by_xpath("//div[@class='dropDownOptionsContainer']//ul//li[3]")
salary_option.click()
time.sleep(2)
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()
company_name=[]
min_salaries=[]
max_salaries=[]
average_salaries=[]
no_of_salaries=[]
time.sleep(3)
company=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
for i in company:
    if i.text is None :
        company_name.append("--")      
    else:
        company_name.append(i.text)    
time.sleep(3)        
min_salary = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']//span[1]")
for i in min_salary:
    if i.text is None:
        min_salaries.append("--")
    else:
        min_salaries.append(i.text)
time.sleep(3)        
max_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
for i in max_salary:
    if i.text is None :
        max_salaries.append("--") 
    else:
        max_salaries.append(i.text)  
time.sleep(3)        
average_salary=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
for i in average_salary:
    if i.text is None :
        average_salaries.append("--") 
    else:
        average_salaries.append(i.text)    
time.sleep(3)        
no_of_salary=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
for i in no_of_salary:
    if i.text is None :
        no_of_salaries.append("--") 
    else:
        no_of_salaries.append(i.text) 
df=pd.DataFrame({"company_name":company_name,"min_salaries":min_salaries,"max_salaries":max_salaries,
                 "average_salaries":average_salaries,"no_of_salaries":no_of_salaries})
df

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='d-flex flex-row align-items-center']//div[1]//div[1]//input"}
  (Session info: chrome=91.0.4472.114)

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
Brand
Product Description
Price
Discount To scrape the data you have to go through following steps:
Go to flipkart webpage by url https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it

In [15]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')
time.sleep(2)
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()
brand=[]
description=[]
price=[]
discount=[]
time.sleep(3)
start=0
end=4
for page in range(start,end):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    for i in brands:
        brand.append(i.text)
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in desc:
        description.append(i.text)
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
time.sleep(3)        
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
df

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (556, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=91.0.4472.114)

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace. you have to scrape the below mention attributes. These are
Rating
Review_summary
Full review You have to scrape this data for first 100 reviews

In [16]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(4)
for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
1,5,Highly recommended,What a camera .....just awesome ..you can feel...
2,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
3,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
4,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
5,5,Highly recommended,It's my first time to use iOS phone and I am l...
6,5,Worth every penny,It’s been almost a month since I have been usi...
7,5,Terrific,Really worth of money. i just love it. It is t...
8,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
9,4,Nice product,Awesome Phone. Slightly high price but worth. ...
10,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
11,5,Perfect product!,Amazing phone with great cameras and better ba...
12,5,Fabulous!,This is my first iOS phone. I am very happy wi...
13,5,Worth every penny,Previously I was using one plus 3t it was a gr...
14,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
15,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
16,4,Good choice,So far it’s been an AMAZING experience coming ...
17,5,Simply awesome,Really satisfied with the Product I received.....
18,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
19,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
20,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
21,5,Highly recommended,What a camera .....just awesome ..you can feel...
22,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
23,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
24,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
25,5,Highly recommended,It's my first time to use iOS phone and I am l...
26,5,Worth every penny,It’s been almost a month since I have been usi...
27,5,Terrific,Really worth of money. i just love it. It is t...
28,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
29,4,Nice product,Awesome Phone. Slightly high price but worth. ...
...,...,...,...
70,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
71,5,Perfect product!,Amazing phone with great cameras and better ba...
72,5,Fabulous!,This is my first iOS phone. I am very happy wi...
73,5,Worth every penny,Previously I was using one plus 3t it was a gr...
74,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
75,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
76,4,Good choice,So far it’s been an AMAZING experience coming ...
77,5,Simply awesome,Really satisfied with the Product I received.....
78,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
79,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
80,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
81,5,Highly recommended,What a camera .....just awesome ..you can feel...
82,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
83,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
84,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
85,5,Highly recommended,It's my first time to use iOS phone and I am l...
86,5,Worth every penny,It’s been almost a month since I have been usi...
87,5,Terrific,Really worth of money. i just love it. It is t...
88,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
89,4,Nice product,Awesome Phone. Slightly high price but worth. ...
90,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
91,5,Perfect product!,Amazing phone with great cameras and better ba...
92,5,Fabulous!,This is my first iOS phone. I am very happy wi...
93,5,Worth every penny,Previously I was using one plus 3t it was a gr...
94,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
95,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
96,4,Good choice,So far it’s been an AMAZING experience coming ...
97,5,Simply awesome,Really satisfied with the Product I received.....
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Perfect product!,It’s a must buy who is looking for an upgrade ...

# Q8:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
Brand
Product Description
Price
discount % Also note that all the steps required during scraping should be done through code only and not manually.

In [18]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)
log_in_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
log_in_pop_up.click()
time.sleep(2)
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')
time.sleep(2)
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()
brand=[]
description=[]
price=[]
discount=[]
time.sleep(3)
start=0
end=4
for page in range(start,end):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    for i in brands:
        brand.append(i.text)
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))                
time.sleep(2)        
urls = []
for page in range(0,4):
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
time.sleep(2)        
for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')
    for i in desc:
        description.append(i.text)
time.sleep(2)        
time.sleep(3)        
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
df

,Brand,Description,Price,Discount
0,ADIDAS,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...","₹1,978",₹2621 off
1,PUMA,"Casual , Partywear Sneakers Shoes For Men's An...","₹1,375",₹2124 off
2,Alfiya,Court Vision Low Sneakers For Men (Black),₹377,₹622 off
3,CALCADOS,LEBRON 2.0 Sneakers For Men (Off White),₹748,₹1248 off
4,Robbie jones,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹379,₹620 off
5,Shoes Bank,Dexster Slip On IDP Sneakers For Men (Blue),₹318,₹681 off
6,Chevit,Anzarun Lite Sneakers For Men (Blue),₹495,₹1003 off
7,U.S. POLO ASSN.,"Sneakers For Men (White, Black)","₹3,999",₹470 off
8,Stefano Rads,SB Heritage Vulc Skate Sneakers For Men (White),₹229,₹580 off
9,KULP,Casual Sneakers Shoes For Men Sneakers For Men...,₹419,₹500 off
10,PEHANOSA,Court Royale 2 Low Sneakers For Men (Black),₹499,₹721 off
11,Clymb,Unique & Perfect Collection Combo Pack of 02 S...,₹278,₹600 off
12,Robbie jones,Synthetic Leather Casual Sneakers Shoes For Me...,₹399,₹1736 off
13,Chevit,Sneakers For Men (Beige),₹759,₹550 off
14,bluemaker,R78 Sneakers For Men (Grey),₹449,₹2867 off
15,RED TAPE,Puma Smash v2 Buck Sneakers For Men (Black),"₹1,228",₹583 off
16,Kraasa,Flex Generation V1 IDP Sneakers For Men (Grey),₹416,₹259 off
17,World Wear Footwear,ST Runner v2 NL Sneakers For Men (Blue),₹240,₹1620 off
18,kardam&sons,Sneakers For Men (Black),₹379,₹1749 off
19,PUMA,Breaknet Sneakers For Men (White),"₹1,750",₹2630 off
20,India hub,INDI EXCLUSIVE Sneaker For Men (Black),₹369,₹550 off
21,Robbie jones,Sneakers For Men (Navy),₹449,₹892 off
22,Nilatin,Baymax IDP Sneakers For Men (White),₹407,₹3075 off
23,RED TAPE,Sneakers For Men (Burgundy),"₹1,024",₹2141 off
24,World Wear Footwear,Respin SL Sneakers For Men (Black),₹499,₹294 off
25,D-SNEAKERZ,Sneakers For Men (Grey),₹365,₹601 off
26,Numenzo,Escaper Pro Sneakers For Men (Black),₹398,₹3917 off
27,RED TAPE,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,"₹1,678",₹622 off
28,SCATCHITE,Sneakers For Men (White),₹377,₹300 off
29,HOTSTYLE,Sneakers For Men (Brown),₹199,₹3451 off
...,...,...,...,...
70,ESSENCE,Indi Exclusive Sneakers For Men (White),₹416,₹680 off
71,BRUTON,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹424,₹570 off
72,ESSENCE,Backcourt Mid Rainbow Sneakers For Men (White),₹319,₹325 off
73,CAMPUS,Cape IDP Sneakers For Men (Grey),"₹1,329",₹2575 off
74,HOCKWOOD,EMAN Sneakers For Men (Black),₹674,₹1269 off
75,BRUTON,Puma Smash v2 Buck Sneakers For Men (Blue),₹424,₹1050 off
76,kardam&sons,Sneakers For Men (White),₹430,₹500 off
77,Jokatoo,Karda Casual Sneakers and Gym Shoes for Men's ...,₹449,₹3075 off
78,Robbie jones,SM-439 Sneakers For Men (White),₹499,₹685 off
79,RED TAPE,HHM Sneakers For Men (Multicolor),"₹1,024",₹1420 off
80,Imcolus,Sneakers For Men (Multicolor),₹464,₹1528 off
81,tigonis,Puma Smash v2 L Sneakers For Men (White),₹379,₹2078 off
82,Chevit,Men SM-461 Navy Blue Sneakers For Men (Blue),₹470,₹259 off
83,U.S. POLO ASSN.,LEBRON 2.0 Sneakers For Men (Off White),"₹3,999",₹2124 off
84,BRUTON,Easy Vulc 2.0 Sneakers For Men (Grey),₹322,₹552 off
85,World Wear Footwear,Men Boxer Sneakers For Men (Black),₹240,₹219 off
86,PUMA,Sneakers For Men (Grey),"₹1,375",₹2274 off
87,STRANGER BROTHERS,"Sneakers For Men (White, Black)",₹447,₹364 off
88,SPARX,"NewSneakers,Outdoors,Dancing,Casuals, Partywea...",₹730,₹1003 off
89,FILA,STYLISH Sneakers For Men (White),"₹1,225",₹2476 off
90,Jack Diamond,Nike Court Royale 2 Low Men's Shoe Sneakers Fo...,₹635,₹2200 off
91,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹495,₹1023 off
92,BRUTON,STYLISH Sneakers For Men (Blue),₹424,₹2124 off
93,BRUTON,Sneakers For Men (Multicolor),₹299,₹1425 off
94,Absolute comfort,Sneakers For Men (Black),₹474,₹901 off
95,PUMA,Puma Smash v2 Buck Sneakers For Men (Black),"₹1,375",₹2499 off
96,Englewood,Sneakers For Men (White),₹474,₹721 off
97,Zsyto,Court Royale AC Sneakers For Men (White),₹398,₹1268 off
98,PUMA,Sneakers For Men (Navy),"₹2,500",₹500 off
99,Clymb,Breaknet Sneakers For Men (White),₹278,₹1522 off

# Q9."https://www.myntra.com/shoes". Set price filter "Rs 6649 to Rs 13099" and color filter to "Black" and then scrap 100 shoes data. The data should include "Brand" of shoes, shoe short-description and price. Please not: Everything should done through code even the filtering for sneakers as well.

In [20]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)
url = "https://www.myntra.com/shoes%22"
driver.get(url)
time.sleep(2)
price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()
black_color_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_color_button.click()
shoe_names=[]
s_desc=[]
short_desc=[]
price=[]
page_urls = []
time.sleep(4)
nxt_page = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in Names:
        shoe_names.append(i.text)
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") 
    for i in desc:
        s_desc.append(i.text)
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    rs=driver.find_elements_by_xpath("//div[@class='product-price']") 
    for i in rs:
        price.append(i.text)           
df=pd.DataFrame({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})
df

,Brand,Short-description,Price
0,House of Pataudi,Men Embroidered Mojaris,Rs. 1429Rs. 2599(45% OFF)
1,Puma,Men Flyer Beta Walking Shoes,Rs. 2279Rs. 3799(40% OFF)
2,ADIDAS,Men Adifloss Running Shoes,Rs. 3229Rs. 3799(15% OFF)
3,Catwalk,Women Sandals,Rs. 1033Rs. 1695(39% OFF)
4,Sparx,Men Running Shoes,Rs. 1301Rs. 1399(7% OFF)
5,INVICTUS,Men Solid Formal Oxfords,Rs. 1119Rs. 2799(60% OFF)
6,H&M,Platform trainers,Rs. 1999
7,Nike,Unisex PHANTOM Football Shoes,Rs. 6396Rs. 7995(20% OFF)
8,Puma,Men Cell Fraction Fade Running,Rs. 6999
9,Roadster,Men Mid-Top Flat Boots,Rs. 987Rs. 2599(62% OFF)
10,Nike,Men ZOOM FREAK 2 Basketball,Rs. 10295
11,Bata,Men Solid Formal Slip-Ons,Rs. 999
12,Red Tape,Men Walking Shoes,Rs. 2099Rs. 6999(70% OFF)
13,Mactree,Men Bounce Walking Shoes,Rs. 649Rs. 2164(70% OFF)
14,Nike,LEBRON XVIII Basketball Shoes,Rs. 17595
15,PUMA Motorsport,Ferrari Race Kart Cat Sneakers,Rs. 4199Rs. 6999(40% OFF)
16,Nike,Men AIR ZOOM Running Shoes,Rs. 9780Rs. 10295(5% OFF)
17,Puma,Men Mesh Fuse Training Or Gym Shoes,Rs. 6399Rs. 7999(20% OFF)
18,Levis,Men Solid Basic 2.0 Sneakers,Rs. 1499Rs. 2999(50% OFF)
19,Catwalk,Women Sandals,Rs. 1361Rs. 2095(35% OFF)
20,Nike,Unisex LEBRON XVIII Shoes,Rs. 17595
21,ZAPATOZ,Women Walking Shoes,Rs. 599Rs. 999(40% OFF)
22,Campus,Men Running Shoes,Rs. 1799
23,Red Tape,Men DRIFT Walking Shoes,Rs. 1799Rs. 5999(70% OFF)
24,Nike,Unisex LEBRON XVIII Basketball,Rs. 17595
25,Red Tape,Men Walking Shoes,Rs. 1469Rs. 4899(70% OFF)
26,Puma,Men Football Shoes,Rs. 2474Rs. 4499(45% OFF)
27,Red Tape,Men Walking Shoes,Rs. 2189Rs. 7299(70% OFF)
28,DressBerry,Women Sneakers,Rs. 999Rs. 2499(60% OFF)
29,H&M,Solid Twisted-Strap Sandals,Rs. 2299
...,...,...,...
70,Nike,Unisex LEBRON XVIII Shoes,Rs. 17595
71,Puma,Women Walking Shoes,Rs. 2449Rs. 3499(30% OFF)
72,Mochi,Men Running Shoes,Rs. 1043Rs. 1490(30% OFF)
73,ELIXIR MAN,Men DRIFT Walking Shoes,Rs. 519Rs. 1999(74% OFF)
74,Marc Loire,Unisex LEBRON XVIII Basketball,Rs. 983Rs. 2399(59% OFF)
75,OFF LIMITS,Men Walking Shoes,Rs. 1399Rs. 2499(44% OFF)
76,Mast & Harbour,Men Football Shoes,Rs. 999Rs. 2499(60% OFF)
77,HRX by Hrithik Roshan,Men Walking Shoes,Rs. 1699Rs. 3399(50% OFF)
78,H&M,Women Sneakers,Rs. 2299
79,ASIAN,Solid Twisted-Strap Sandals,Rs. 464Rs. 489(Rs. 25 OFF)
80,Mochi,Women Albertine Solid Loafers,Rs. 1290
81,Nike,Men Running Shoes,Rs. 8996Rs. 11995(25% OFF)
82,Mochi,Women Running Shoes,Rs. 3990
83,Mactree,Men Running Shoes,Rs. 649Rs. 2164(70% OFF)
84,H&M,Women ZOOM SPAN 3 Running,Rs. 1299
85,Marc Loire,Men Sneakers,Rs. 987Rs. 2599(62% OFF)
86,Bata,Women Active Running shoe,Rs. 999
87,DressBerry,Women Glitter Heels,Rs. 874Rs. 2499(65% OFF)
88,Puma,Men Suede Loafers,Rs. 2149Rs. 4299(50% OFF)
89,Allen Solly,Men Flex Athleisure Shoes,Rs. 1367Rs. 1799(24% OFF)
90,J.FONTINI,Women Open Toe Flats,Rs. 6990
91,Crocs,Men SPEEDREP Training Shoes,Rs. 2495
92,Reebok,Men Running Shoes,Rs. 2419Rs. 4399(45% OFF)
93,ZAPATOZ,Men Running Shoes,Rs. 669Rs. 999(33% OFF)
94,Puma,Men Running Shoes,Rs. 2199Rs. 3999(45% OFF)
95,H&M,Men Running Shoes,Rs. 1299
96,Kalenji By Decathlon,Men Energy 2.0 Running Shoes,Rs. 1614Rs. 1699(5% OFF)
97,mr.wonker,Men Knitted Upper Running Sport Shoes,Rs. 699Rs. 3329(79% OFF)
98,Mast & Harbour,Women Open Toe Flats,Rs. 1249Rs. 2499(50% OFF)
99,Skechers,Men Solid Formal Derbys,Rs. 5299

# Q10: Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:
title
Ratings
Price

In [21]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)
url = "https://www.amazon.in/ref=nav_logo"
driver.get(url)
Title=[]
Ratings=[]
price=[]
time.sleep(2)
search_bar = driver.find_element_by_id("twotabsearchtextbox")   
search_bar.clear()                                              
search_bar.send_keys("laptops")                                   
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')    
search_button.click()    
time.sleep(2)
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break          
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:                                                                    
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
        Ratings.append(rating.text) 
    except NoSuchElementException:
        Ratings.append("NO rating")      
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
df

                                               Title   Price       Ratings
0  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  76,990  3.8 out of 5
1  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...  45,999     NO rating
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...  84,990  4.5 out of 5
3  ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Co...  81,990  4.4 out of 5
4  (Renewed) HP Envy 11th Gen Core i7 Processor 1...  93,492     NO rating
5  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  86,990  4.1 out of 5
6  HP Pavilion Gaming(2021) 10th Gen Intel Core i...  90,990     NO rating
7  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,999  4.4 out of 5
8  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...  41,999     NO rating
9  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...  39,999     NO rating